---
title: CarlHacks 2016 Dashboard
refresh: true
---

<div class="page">
  <div class="cover row vjustify title">
    <div class="fill middle center">
      <div class="center middle col gap-5 hero">
        <%= image_tag "logo-white.svg", class: 'logo' %>
        <div class="timer-large" id="timer-large">
          Loading...
        </div>
        <p class="smalltext">Judging information has been posted to CarlHacks.com — read it now!</p>
      </div>
    </div>
    <div class="top">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/CarlHacks" data-widget-id="718631957211394048">#CarlHacks Tweets</a>
    </div>
  </div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

